body{
    background-color: rgb(250,250,250);
}
.container{
     display:flex;
     align-items:center;
      justify-content: center;
      flex-direction: column;
   
}
.images{
    width:375px;
    margin-top:60px;
}
.img{
    margin-top:30px;
    display: flex;
}
.footer{
    padding-left: 10px;

}


@media(max-width:770px){
    .container{
        margin:0 10%;
    }
    image{
        width:100%;
    }
}
@media(max-width:497px){
    .container{
        margin:0 10%;
    }
    image{
        width:200px;
    }
}